[mysqld]
default-authentication-plugin=mysql_native_password
bind-address=0.0.0.0
skip-host-cache
skip-name-resolve
general_log=1
general_log_file=/var/lib/mysql/general.log
slow_query_log=1
slow_query_log_file=/var/lib/mysql/slow.log
long_query_time=2

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4
